:root {
    --color1:#EEEDEB;
    --color2:#E0CCBE;
    --color3:#747264;
    --color4:#3C3633;
}

body {
    background-color: var(--color3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 500px;
    width: 500px;
    background-color: var(--color4);
    padding: 20px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
}

.container div {
    border-bottom: 5px solid var(--color3);
    border-radius: 10%;
    background-color: var(--color1);
    color: var(--color4);
    font-size: 500%;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container div:hover {
    filter: brightness(0.8);
}
