:root {
    --color1:#EEEDEB;
    --color2:#E0CCBE;
    --color3:#747264;
    --color4:#3C3633;
}

@font-face {
  font-family: abril;
  src: url(./AbrilFatface-Regular.ttf);
}

body {
    font-family: abril;
    background-color: var(--color3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 500px;
    width: 500px;
    background-color: var(--color4);
    padding: 20px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
}

.container div {
    border-bottom: 5px solid var(--color3);
    border-radius: 10%;
    background-color: var(--color1);
    color: var(--color4);
    font-size: 500%;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container div:hover {
    filter: brightness(0.8);
}

button {
    padding: 6px 12px;
    font-size: 20px;
    font-family: roboto;
    font-weight: bold;
    background-color: var(--color2);
    border: none;
    border-bottom: 4px solid var(--color4);
    cursor: pointer;
}
button:hover {
    filter: brightness(0.8);
}

#current-turn {
    font-family: roboto;
}
